body{
    background-color: #002B5B;
}

h3,
h4 {
    margin: 5px;
    color: white;
}

p{
    text-align: center;
}


.pelis {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
.container {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    max-width: 100%;
}

.card {
    margin: 20px;
    padding: 0;
    width: 18rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-body{
    text-align: center;
}

.sector {
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}
/* .pelicula{
    width: 20vw;
}

.funciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.formBuscarPeli, .formAgregarPeli{
    margin: 15px auto;
    text-align: center;
}


.btn-lg {
    text-align: center;
    margin: 0 50%;
}
 */
