body{
    background-color: #002B5B;
}

h3{
    margin: 5px;
    color: white;
}

h4 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 50px;
}

p{
    text-align: center;
}


.section::-webkit-scrollbar {
    width: 10px;
}
 
.section::-webkit-scrollbar-track {
    background-color: transparent;
}
 
.section::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #216a8b 0%, #14aab4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}



.pelis {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
.container {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    max-width: 100%;
}

.card {
    margin: 20px;
    padding: 0;
    width: 18rem;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.card-body{
    text-align: center;
}

.sector {
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

label{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px
}

.texto-titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    margin: 5px;
    font-weight: bold;
}

.texto-span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    margin: 5px;
    font-weight: bold;
}

.texto-parrafo{
    margin: 15px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: initial;
}

.abajo{
    display: flex;
    flex-direction: column;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

