body{
    background-color: black;
}

h3,
h4 {
    text-align: center;
    margin: 40px;
    color: white;
}

p{
    text-align: center;
}

.parrafoPeli{
    color: white;
}

.flexeando {
    display: flex;
    justify-content: center;
}
#cardPeli{
    background-color: grey;
}

.card {
    text-align: center;
    margin: 40px;
}

.pelis {
    display: flex;
    flex-wrap: wrap;
}

.pelicula{
    width: 20vw;
}

.funciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.formBuscarPeli, .formAgregarPeli{
    margin: 15px auto;
    text-align: center;
}


.btn-lg {
    text-align: center;
    margin: 0 50%;
}

